
%h4 Редактирование вопроса № "#{@question.num}"      
= simple_form_for [@test, @question], method: :put do |f|
  %p
    = f.input :group_id, label: 'Тип вопроса'
  %p
    = f.input :group_id, collection: @groups, label_method: :group_name, value_metod: :id, selected: 1  
  %p
    = f.input :body, label: 'Вопрос'    
  %p
    = f.input :back, label: 'Обратный'     
  %table
    %tr
      %td
        = link_to 'Назад', test_path(@test), class: "btn btn-default"
        = "   " 
        = f.button :submit, 'Сохранить', class: "btn btn-primary"
%br
%h4 Введенные вопросы
%table{:class => 'table table-striped table-bordered'}
  %tr
    %th
      Номер вопроса
    %th
      Тип вопроса
    %th  
      Обратный
  - @test.questions.order(num: :desc).each do |q| 
    %tr
      %td 
        = q.num
      %td 
        = q.group_id
      %td 
        = q.back