%div.container-fluid
  %div.row
    %div.col-md-2
    %div.col-md-8
      %h3 Редактирвоание вопроса
      %table{:class => 'table table-striped table-bordered'}
        %tr
          %th
            Номер вопроса
          %th
            Тип вопроса
          %th  
            Обратный
        - @test.questions.order(num: :desc).each do |q| 
          %tr
            %td 
              = q.num
            %td 
              = q.about
            %td 
              = q.back
      = simple_form_for [@test, @question], method: :put do |f|
        %p
          = f.input :body, label: 'Вопрос'   
        %table
          %tr
            %td
              = link_to 'Назад', test_path(@test), class: "btn btn-default"
              = "   " 
              = f.button :submit, 'Сохранить', class: "btn btn-primary"
    %div.col-md-2  