%div.container-fluid
  %div.row
    %div.col-md-2
    %div.col-md-8
      %h3 Вид ответа
      %table
        %tr
          %td
            %th #{@test.id}
            %th #{@test.num_of_answ}    
        = simple_form_for [@test.num_of_answ], method: :put do |f|
        %p
          = f.input :body, label: 'Вопрос'       
      %table
        %tr
          %td
            = link_to 'Назад', tests_path, class: "btn btn-default"      
    %div.col-md-2