%h4 Тест: "#{@test.name}", попытка № "#{@try_of}"
= form_tag save_answers_test_answers_path(@test), { class: 'form-class', id: 'form-id', role: 'form', method: 'post' } do
  .form-group
    = hidden_field_tag "try_of", @try_of
    %table{:class => 'table table-bordered'}
      - @questions.each do |q|
        %tr
          %td
            %p
              = q.body
            %p
            %table{:class => 'table-condensed table-bordered text-center'}
              %tr
                - (1..@test.num_of_answ).each do |i|
                  %td
                    = label_tag(q.id, "#{i}")
                    - if i == @test.num_of_answ && @test.sp_answer?
                      %td
                        = label_tag(q.id, "Нет ответа")                                                    
              %tr
                - (1..@test.num_of_answ).each do |i|
                  %td
                    = radio_button_tag(q.id, "#{i}")
                    - if i == @test.num_of_answ && @test.sp_answer?
                      %td                 
                        = radio_button_tag(q.id, " ")
      %tr
        %td
          %p{:class => 'text-center'}
            = link_to 'Назад', tests_path, class: "btn btn-default"
            = submit_tag("Отправить", class: "btn btn-default")
