= simple_form_for @test, url: test_path, method: :put do |f|
%div.container-fluid
  %div.row
    %div.col-md-2
    %div.col-md-8
          %h3 Корректировка
      = simple_form_for (@test) do |f|
        %p
          = f.input :name, label: 'Создание теста'
        %p
          = f.input :description, label: 'Описание теста'
        %table
          %tr
            %td 
              = link_to 'Отменить', tests_path, class: "btn btn-default"
              = "   " 
              = f.button :submit, 'Сохранить', class: "btn btn-primary"
    %div.col-md-2  