%div.container-fluid
  %div.row
    %div.col-md-2
    %div.col-md-8
      %h4 Описание #{@test.name}
      %table.table
        %tr
          %td
            %b
              = @test.name 
        %tr
          %td
            = "Название: #{@test.name}"
        %tr
          %td
            = "Описание: #{@test.description}"
        %tr
          %td
            = "Количество ответов: #{@test.num_of_answ}"
        %tr
          %td
            = "Тип ответов: #{@test.type_of_answ}" 
        %tr
          %td           
            = "Спецответ: #{@test.sp_answer}" 
      - if @test.questions.present?
        %h4 Вопросы
        %table{:class => 'table table-striped table-bordered'}
          %tr
            %th Номер
            %th Вопрос
            %th Тип           
            %th Действия
          - @test.questions.order(num: :desc).each do |q| 
            %tr
              %td 
                = q.num
              %td 
                = q.body
              %td 
                = q.about             
              %td 
                = link_to 'Редактировать', edit_test_question_path(@test, q), class: "btn btn-warning btn-xs"
                = "   "
                = link_to 'Удалить', test_question_path(@test, q), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Уверен?' }
      = link_to 'Назад', tests_path, class: "btn btn-default"
      = "   "
      = link_to 'Добавить вопрос', new_test_question_path(@test), class: "btn btn-info"
      = "   "
      = link_to 'Пройти тест', get_answ_test_answers_path(@test), class: "btn btn-success"
    %div.col-md-2
